@import 'jeet'
@import 'mixins'

$wide = '(min-width: 1650px)'
$unwide = '(max-width: 1650px)'
$portrait = '(orientation: portrait)'
$landscape = '(orientation: landscape)'

$serif = 'Georgia', serif
$sans-serif = 'Open Sans', 'Segoe UI', 'Roboto', sans-serif

$bg = #000
$title = lighter 6em $sans-serif
$subtitle = lighter 1.7em $sans-serif
$body = #ffa

body
    color: #fff
    min-width: 500px
    margin: 0
    background: linear-gradient(#06061c, #06061c, #06061c, #0d212e, #18342f)
    overflow-x: hidden
    padding-bottom: 5vh

    section
        outline: none

    .intro
        margin: 3em
        min-height: 20vh

        h1
            font: $title
            margin: 0
        p
            color: #ffe
            font: $subtitle
            margin-top: 0

    .example
        min-height: 60vh
        width: 100%

        .ex
            height: 500px
            margin: 0
            text-align: center
            z-index: 1
            background-image: url(img/inputbg.svg)
            background-repeat: repeat
            background-position: -10px

            input
                background-color: white
                border: none
                width: 400px
                text-align: center
                padding: .5em
                font-size: larger
                margin-top: 215px
                height: 50px

    .tryitout
        center()

        table
            width: 100%

        input.app
            border: none
            font-size: 1.2em
            background-color: #1E1E1E

        input.app:nth-of-type(1)
            width: 100%
            padding: 1em
            border-radius: .5em
            color: #fff
            font-family: $serif
            font-style: italic
            font-size: 1.2em

        input.name
            background-color: #1E1E1E
            border: none
            color: #D69D85
            position: absolute
            font-family: monospace
            font-size: 1.2em
            width: (4 / 1.75)em
            text-decoration: underline

            &:nth-of-type(1)
                margin: 2.45em 0 0 7.55em

            &:nth-of-type(2)
                margin: 2.62em 0 0 10.9em

            &.res:nth-of-type(2)
                margin: 2.45em 0 0 8.2em
                color: #fff

            &.res:nth-of-type(3)
                margin: 3.62em 0 0 8.2em
                color: #608B4E

        pre
            padding: 1.5em
            background-color: #1E1E1E
            border-radius: .5em
            font-size: 1.2em
            width: 100%

            i
                font-style: normal

                &.str
                    color: #D69D85

                &.keywords
                    color: #569CD6

                &.attr
                    color: #4BD4B8

                &.comment
                    color: #608B4E

                &.operator
                    color: #A1A3AD

        h1
            font-size: 7em!important
        h2
            font-size: 5em!important
            padding: 0
            margin: 0

        td
            h3
                text-align: left
                font-size: 3em!important
                margin: .65em 0 0 0

        h1, h2, h3
            font: $title
            font-stretch: extra-expanded
            text-align: center
            font-style: italic

    .getstarted
        center()

        a, a:visited
            color: white


        h1, h2, h3
            font: $title
            font-stretch: extra-expanded
            text-align: center
            font-style: italic
        h1
            font-size: 7em!important

        h2
            font-size: 5em!important
            padding: 0
            margin: 0

        td
            h3
                text-align: left
                font-size: 3em!important
                margin: .65em 0 0 0

    #notice
        display: none
        height: 100%
        width: 100%
        text-align: center
        background-color: rgba(0,0,0,.8)
        position: fixed
        z-index: 101

body.nojs
    #notice
        display: block


h1.title, h2.title
    img
        width: 1em
        margin-bottom: -.15em
        margin-right: .1em
